:root {
    --vermelho:#E50914;
    --preto: #141414;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */

body {
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


header .container {
    display: flex;
    align-items: center;
    justify-content:flex-start; 
    
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}
.desktop-nav {
    margin-left: 30px;
}

.desktop-nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;

}

header nav a:hover {
    color: #aaa
}

.mobile-nav-close {
    display: none;
}

/*Select Profile*/

.container { 
    width: 95%;
    margin: 0 auto;
}

header {
    position: relative;
    float: left;
    width: 100%;
    height: 68px;
}

#logo {
    position: relative;
    float: left;
    width: 115px;
}

.selectProfile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--preto);

}

.listProfile {
    position: absolute;
    width: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.listProfile h1 {
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    color: #ffff;
    margin-bottom: 50px;
    font-size: 3.5vw;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: unset;
}

.escolherPerfil {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.escolherPerfil li {
    width: 90%;
    cursor: pointer;
}

.escolherPerfil li:last-child {
    margin: 0;
}

.profileImg {
    width: 100%;
    position: relative;
    border: solid 3px transparent;
}

.profileImg:hover {
    border: solid 3px #f1f1f1;
}

.profileImg:hover ~.nomeProfile {
    color: #f1f1f1;
}

.nomeProfile { 
    position: relative;
    float: left;
    width: 100%;
    color: grey;
    margin: .6em 0;
    font-size: 1.3vw;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}


#gerenciarPerfis {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

/*loader*/

.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--preto);
    z-index: 999;
}

.nfLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 37px 0 0 -25px;
    width: 50px;
    height: 50px;
    
  }
  .nfLoader:after {
    content: "";
    background-image: url(https://assets.nflxext.com/en_us/pages/wiplayer/site-spinner.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    position: absolute;
    margin: -6px;
    width: inherit;
    height: inherit;
    animation: nfLoader-spin 1.1s linear infinite,1!important;
    -webkit-animation: nfLoader-spin 1.1s linear infinite,1!important; 
  }
  @keyframes nfLoader-spin {
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes nfLoader-spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

/* filme principal */

.filme-principal {
    width: 100%;
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/umbrellaacademy.jpg');
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
    margin-right: 15px;
    font-size: 12px;
    transition: .5s ease all;
}

.botao:hover {
    background-color: white;
    color: black;

}

.botao i {
    margin-right: 5px;
}

.container {
    width: 95%;
    margin: auto;
}

.filme-principal .container {
    width: 500px;
    margin-left: 2.5%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    
}

.item {
    cursor: pointer;
    
        
}

.item img:hover {
    transform: scale(1.1);
    transition: 0.5s ease all;
    z-index: 999;
    box-shadow: 1px 2px 23px 2px rgba(255,255,255,0.72);
    -webkit-box-shadow: 1px 2px 23px 2px rgba(255,255,255,0.72);
    -moz-box-shadow: 1px 2px 23px 2px rgba(255,255,255,0.72);
}

/* Carrosel */

.carrosel {
    padding-bottom: 40px;
    overflow: hidden;
    display: none;
}

.carrosel-series {
    overflow: hidden;
    margin-top: -5%;
    background: rgb(241,241,241);
    background: linear-gradient(180deg, rgba(241,241,241,0) 0%, rgba(20,20,20,1) 19%);
}

.titulo-carrosel {
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.owl-dots {
    display: none;
}

.owl-prev {
    position: absolute;
    top: 50%;
    left: -1.5%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}

.owl-next {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right: -1.5%;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}


/*iframes */

.overlay {
    height: 0%;
    width: 120%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
    
}

.overlay.open {
    height: 120%;    
    opacity: 1;
    z-index: 2;
}

.iframe, .iframe-filmes {
    background-color: rgba(0,0,0,.50);
    border-radius: 10px;
    width: 630px;
    padding: 35px;
    position: fixed;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
    z-index: 3;
    color: white;
    
}

.iframe iframe, .iframe-filmes iframe {
    width: 100%;
    height: 315px;
}

.iframe.open, .iframe-filmes.open {
    z-index: 3;
    left: 50%;
}


.iframe_close {
    float: right;
    cursor: pointer;
    font-size: 2.5em;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 3;

}

.iframe-info {
    width: 100%;
}

.iframe_close:hover {
    color: var(--vermelho);
}

.trailer-iframe {
    
    width: 100%;
}


/* Medias queries */

@media screen and (max-width: 1024px) {
    .carrosel-series {
        margin-top: -10%;
    }
 }

@media screen and (max-width: 768px) {
    

    .desktop-nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 50%;
        z-index: 9999;
        background-color: #141414;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-left: 2px solid var(--vermelho);
        transition: all 0.8s cubic-bezier(0.35, -0.03, 0.2, 1);
    }

    .desktop-nav a {
        padding: 20px 0;
    }

    .open {
        right: 0;
    }

    .icon {
        position: fixed;
        width: 35px;
        height: 35px;
        right: 20px;
        cursor: pointer;
        border-radius: 50%;
        margin-top: 10px;
        display: none;
        z-index: 100001; }
        @media screen and (max-width: 768px) {
          .icon {
            display: block; } }
      
      .hamburguer {
        width: 100%;
        height: 3px;
        background-color: var(--vermelho);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: all 0.8s cubic-bezier(0.85, -0.03, 0.2, 1); }
      
      .hamburguer:before,
      .hamburguer:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--vermelho);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition-duration: .5s; }
      
      .hamburguer:before {
        top: -12px; }
      
      .hamburguer:after {
        top: 12px; }
      
      .icon.active .hamburguer {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0); }
      
      .icon.active .hamburguer:before {
        top: 0;
        transform: rotate(45deg);
        background-color: var(--vermelho); }
      
      .icon.active .hamburguer:after {
        top: 0;
        transform: rotate(135deg);
        background-color: var(--vermelho); }

    .mobile-nav-close:hover {
        color: white;
    }


    .iframe, .iframe-filmes {
        width: 95%;
    }

    .filme-principal .container {
        width: 53%;
    }

    .botao {
        width: 200px;
        height: 60px;
        margin-top: 5px;
    }

    .carrosel-series {
        margin-top: -15%;
    }
    
}

@media screen and (max-width: 425px) {
   
    .desktop-nav {
        width: 90%;
    }

    .filme-principal .container {
        width: 70%;
    }

    .botao {
        width: 100%;
        height: 60px;
        margin-top: 5px;
    }

    .carrosel-series {
        margin-top: -15%;
    }

    .carrosel-filmes {
        margin-top: 25px;
    }
}