:root {
    --vermelho:#E50914;
    --preto: #141414;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */

body {
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;

}

header nav a:hover {
    color: #fff
}

/* filme principal */

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/umbrellaacademy.jpg');
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
    margin-right: 15px;
    font-size: 12px;
    transition: .5s ease all;
}

.botao:hover {
    background-color: white;
    color: black;

}

.botao i {
    margin-right: 5px;
}

.container {
    width: 95%;
    margin: auto;
}

.filme-principal .container {
    width: 500px;
    margin-left: 2.5%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    
}

.item {
    cursor: pointer;
    
}

/* Carrosel */

.carrosel-series {
    margin-top: -5%;
    background: rgb(241,241,241);
    background: linear-gradient(180deg, rgba(241,241,241,0) 0%, rgba(20,20,20,1) 19%);
}

.titulo-carrosel {
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.owl-dots {
    display: none;
}

.owl-prev {
    position: absolute;
    top: 40%;
    left: -1.5%;
    
}

.owl-next {
    position: absolute;
    top: 40%;
    right: -1.5%;
   
}

.carrosel-filmes {
    margin-top: 50px;
}

/*iframes */

.overlay {
    height: 0%;
    width: 120%;
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.overlay.open {
    height: 120%;    
    opacity: 1;
    z-index: 2;
}

.iframe {
    background-color: #FFF;
    border-radius: 10px;
    width: 65%;
    padding: 25px;
    position: fixed;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
    display: flex;
    align-items: center;
    z-index: 3;
    color: #141414;
}

.iframe.open {
    z-index: 3;
    left: 50%;
}

.iframe_avatar {
    position: relative;
    width: 35%;
    float: left;
    border-right: 1px solid #F4F4F4;
}

.iframe_close {
    float: right;
    cursor: pointer;
    font-size: 2.5em;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 3;

}

.iframe_close:hover {
    color: #017F22;
}

.iframe_avatar img {
    width: 100%;
    border-radius: 50%;
    padding: 20px;
}

.iframe_info {
    position: relative;
    float: right;
    width: 65%;
    padding: 20px;
    text-align: justify;
}

.iframe_info p {
    margin-bottom: 10px;
    font-size: 90%;
}

/* Medias queries */


@media screen and (max-width: 768px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .filme-principal .container {
        width: 53%;
    }

    .botao {
        width: 200px;
        height: 60px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 425px) {
   

    .filme-principal .container {
        width: 70%;
    }

    .botao {
        width: 100%;
        height: 60px;
        margin-top: 5px;
    }

    .carrosel-series {
        margin-top: -15%;
    }

    .carrosel-filmes {
        margin-top: 25px;
    }
}